---
- name: "Atuin | Check if path exists"
  ansible.builtin.stat:
    path: "/usr/bin/atuin"
  register: atuin_path_check

- name: "Atuin | Download install script"
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/atuinsh/atuin/main/install.sh
    dest: /tmp/atuin_install.sh
    mode: "0755"
  register: atuin_download
  retries: 3
  delay: 5
  until: atuin_download is succeeded

- name: "Atuin | Install using install.sh script"
  ansible.builtin.shell:
    cmd: '/tmp/atuin_install.sh'
  when: not atuin_path_check.stat.exists
  register: atuin_install
  retries: 3
  delay: 5
  until: atuin_install.rc == 0 or atuin_install is skipped

- name: "Atuin | Remove install script"
  ansible.builtin.file:
    path: /tmp/atuin_install.sh
    state: absent

- name: "Atuin | Create config directory"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/atuin"
    state: directory
    mode: "0755"

- name: "Atuin | Copy config"
  ansible.builtin.copy:
    src: config.toml
    dest: "{{ ansible_user_dir }}/.config/atuin/config.toml"
    mode: "0644"
