---

- name: "Fonts | Clone MonaSpace Fonts"
  ansible.builtin.git:
    repo: https://github.com/githubnext/monaspace.git
    dest: "{{ ansible_env.HOME }}/monaspace-fonts"

- name: "Fonts | Find all MonaSpace font files"
  ansible.builtin.find:
    paths: "{{ ansible_env.HOME }}/monaspace-fonts/fonts"
    patterns: "*.ttf,*.otf"
    recurse: true
  register: monaspace_font_files

- name: "Fonts | Copy MonaSpace fonts to Library"
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ ansible_env.HOME }}/Library/Fonts/"
    mode: "0644"
  loop: "{{ monaspace_font_files.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
